[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

ray = """
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.5.3-cp36-cp36m-macosx_10_6_intel.whl\
"""
"978499a" = {file = "https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.5.3-cp36-cp36m-macosx_10_6_intel.whl"}


[dev-packages]

pylint = "*"
black = "*"
isort = "*"
pytest = "*"
scikit-learn = "*"
numpy = "*"
scipy = "*"
pytest-benchmark = "*"
click = "*"
prometheus-client = "*"
torch = "*"
torchvision = "*"
scikit-image = "*"
