[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

ray = {extras = ["debug"]}

[dev-packages]

pylint = "*"
black = "*"
isort = "*"
pytest = "*"
scikit-learn = "*"
numpy = "*"
scipy = "*"
pytest-benchmark = "*"
click = "*"
prometheus-client = "*"
torch = "*"
torchvision = "*"
scikit-image = "*"
